@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

// VARIABLES
$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;
$defaultTextColor: #121111;
$lightBlueColor: #e1f6ff;
$blueColor: #0f6e94;
$lightOrangeColor: #fef3e9;
$orangeColor: #ff7f31;
$greenColor: #26c579;
$redColor: #c9222f;
$purpleColor: #ab66eb;
$grayColor: #999999;
$whiteColor: #ffffff;

// MIXINS
@mixin defaultIcon($size) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: $size;
}
@mixin fontSize($minSize, $maxSize) {
  font-size: $maxSize + 0px;
  font-size: -webkit-calc(
    #{$minSize + 0px} + (#{$maxSize} - #{$minSize}) * ((100vw - 300px) /
          (1900 - 300))
  );
  font-size: -moz-calc(
    #{$minSize + 0px} + (#{$maxSize} - #{$minSize}) * ((100vw - 300px) /
          (1900 - 300))
  );
  font-size: calc(
    #{$minSize + 0px} + (#{$maxSize} - #{$minSize}) * ((100vw - 300px) /
          (1900 - 300))
  );
}
// RESET
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Gellix", sans-serif;
  color: $defaultTextColor;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background: #ffffff;
  color: $defaultTextColor;
  font-family: "Gellix", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}
body.overflow {
  overflow-y: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
.btn-primary {
  color: $whiteColor;
  background: $orangeColor;
  border: 2px solid $orangeColor;
  border-radius: 16px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: $lightOrangeColor;
    border-color: $lightOrangeColor;
    color: $orangeColor;
  }
  &-outline {
    &:hover {
      border-color: $orangeColor;
    }
  }
}
.section-heading {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.1;
}
.header {
  transition: all 0.3s ease-in-out;
  & .container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  &.scroll-header {
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
    & .menu-link {
      color: $defaultTextColor;
    }
  }
}
.hamburger {
  border-radius: 14px;
  transition: all .3s ease-in-out;
  cursor: pointer;
  background: $lightBlueColor;
  border: 2px solid transparent;
  & span {
    background: $blueColor;
    border-radius: 10px;
    transition: all .3s ease-in-out;
  }
}

.menu {
  list-style: none;
  &-link {
    color: $whiteColor;
    text-decoration: none;
    position: relative;
    &:after {
      content: "";
      background: currentColor;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0;
      height: 2px;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      &:after {
        opacity: 1;
        width: 100%;
      }
    }
  }
}

.main-screen {
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(10, 10, 10, 0.0001) 100%
    );
    z-index: -1;
  }
  &__content {
    & h1 {
      color: $whiteColor;
      margin-bottom: 30px;
      font-weight: 700;
      @include fontSize(30, 54);
      & span {
        color: $whiteColor;
        font-style: italic;
      }
    }
  }
}
.form-group {
  & input {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 21px;
    outline: none;
  }
}
.prices {
  &-row {
    &-title {
      font-size: 24px;
      font-weight: 700;
    }
  }
  &-item {
    &__icon {
      border-radius: 14px;
      background: $lightBlueColor;
    }
    &__amount {
      font-weight: 700;
    }
  }
}
.tabs {
  &-list {
    list-style: none;
    background: #e1f6ff;
    border-radius: 12px;
    &__item {
      &_link {
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        font-weight: 600;
        color: rgba(15, 110, 148, 0.5);
        cursor: pointer;
        &:hover,
        &.active {
          background: #0f6e94;
          color: $whiteColor;
        }
      }
    }
  }
  &-wrap {
    .tab-content {
      animation: fadeEffect 0.5s;
    }
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.banner {
  &-inner {
    background: $lightOrangeColor;
    border-radius: 20px;
  }
  &-text {
    & h3 {
      font-size: 30px;
      font-weight: 600;
    }
  }
}
.products {
  &-banner {
    background: $lightOrangeColor;
    border-radius: 21px;
  }
  &-prices {
    &__list {
      list-style: none;
    }
    &__link {
      color: $blueColor;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      text-decoration: none;
      position: relative;
      &:before {
        content: "";
        background: currentColor;
        width: 0;
        height: 2px;
        bottom: -2px;
        left: 0;
        position: absolute;
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        &:before {
          width: 100%;
        }
      }
    }
  }
}
.products-item {
  border-radius: 15px;
  text-decoration: none;
  &__image {
    & img {
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      & img {
        transform: scale(1.05);
      }
    }
  }
  &__avatar {
    border: 2px solid $whiteColor;
    border-radius: 100%;
    left: calc(43% - 25px);
    overflow: hidden;
  }
  &__title {
    font-weight: 600;
    font-size: 23px;
    line-height: 1.2;
    color: $defaultTextColor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__price {
    font-weight: 600;
    font-size: 23px;
    color: $blueColor;
  }
  &__location {
    color: $grayColor;
    font-weight: 400;
  }
  &__reference {
    font-size: 14px;
    color: $grayColor;
  }
}

.characteristic {
  &__text {
    font-weight: 600;
  }
}
.about {
  &-image {
    border-radius: 20px;
    overflow: hidden;
  }
}
.recent {
  & .section-heading {
    text-align: center;
  }
}
.faq {
  &-image {
    border-radius: 21px;
    overflow: hidden;
  }
}
.accordion {
  &__item {
    border: 1px solid #E3E8F3;
    border-radius: 15px;
    &:hover {
      & i:before {
        color: #01648E;
      }
    }
    &.active {
      & i:before {
        color: #01648E;
      }
    }
  }
  &__content {
    transition: all .3s ease-in-out;
  }
  &__button {
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    color: $defaultTextColor;
    transition: all .3s ease-in-out;
    & i {
      transition: all .3s ease-in-out;
      &:before {
        transition: all .3s ease-in-out;
      }
    }
  }
}

.faq-tabs {
  .table {
    background: #FFFFFF;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.100142);
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #E8E8E8;
    &-row {
      & .table-cell:nth-child(1) {
        &.table-heading {
          color: $defaultTextColor;
        }
      }
      & .table-cell:nth-child(3) {
        border-right: none;
      }
      & .table-cell:first-child {
        color: $blueColor;
        font-size: 14px;
      }
    }
    &-heading {
      border-bottom: 1px solid #E8E8E8;
      font-weight: 700;
    }
    &-cell {
      border-right: 1px solid #E3E8F3;
      padding: 5px 30px;
    }
  }
}
.footer {
  background: #f9f9fb;
  border-top: 1px solid #e6e6e6;
  &-title {
    font-weight: 600;
    font-size: 24px;
  }
  &-list {
    list-style: none;
  }
  &-link {
    text-decoration: none;
    color: #696969;
    position: relative;
    &:before {
      content: '';
      background: currentColor;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 1px;
      transition: all .3s ease-in-out;
      position: absolute;
    }
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
  &-socials {
    list-style: none;
    & .socials-link {
      border-radius: 100%;
      background: $lightBlueColor;
      text-decoration: none;
      transition: all .3s ease-in-out;
      & i {
        color: $blueColor;
        font-size: 14px;
        transition: all .3s ease-in-out;
      }
      &:hover {
        background: $blueColor;
        & i {
          color: $lightBlueColor;
        }
      }
    }
  }
  &-copyright {
    border-top: 1px solid #e6e6e6;
    & ul {
      list-style: none;
    }
    & li {
      margin: 0 10px;
    }
    & .btn-primary {
      display: none;
    }
  }
}
// footer lang
.lang {
  &-options {
    transition: all .3s ease-in-out;
  }
  &-option {
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    background: $lightBlueColor;
    &:hover {
      background: $blueColor;
    }
  }
}
.lang-select {
  &__trigger {
    background: transparent;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
  }
  &.open {
    & .lang-select__trigger {
      background: $lightBlueColor;
    }
  }
}
.icon-triangle {
  content: '';
  background: url('../img/icons/arrow-triangle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 8px;
  height: 8px;
  transform: rotate(90deg);
  margin-left: 6px;
}

.scroll-to-top {
  border-radius: 10px;
  background: $lightBlueColor;
  transition: all .3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: translate(0, -6px);
  }
}
.graph {
  &-additional {
    .table {
      background: #FFFFFF;
      box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.100142);
      border-radius: 15px;
      overflow: hidden;
      border: 1px solid #E8E8E8;
      &-row {
        & .table-cell:nth-child(1) {
          &.table-heading {
            color: $defaultTextColor;
          }
        }
        & .table-cell:nth-child(3) {
          border-right: none;
        }
        & .table-cell:first-child {
          color: inherit;
        }
      }
      &-heading {
        border-bottom: 1px solid #E8E8E8;
        font-weight: 700;
      }
      &-cell {
        border-right: 1px solid #E3E8F3;
        &:nth-child(1) {
          font-size: 16px;
        }
        &:after {
          font-size: 8px;
        }
      }
    }
  }
}
.chart-container {
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-shadow: 0px 7px 14px rgba(0,0,0,.04);
  border-radius: 15px;
  padding: 20px 30px;
}
.diagrams {
  & .canvas-wrapper {
    border: 1px solid #E8E8E8;
    box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.04);
    border-radius: 15px;
  }
  &-features {
    width: 365px;
    & .features-container {
      border: 1px solid #E8E8E8;
      box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.04);
      border-radius: 15px;
    }
    & .bar-chart {
      border-radius: 3px;
      &--inner {
        background: #0F6E94;
        border-radius: 3px;
      }
      &-title {
        font-weight: 700;
      }
    }
  }
  &-features-table {
    & .features-table {
      border: 1px solid #E8E8E8;
      box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.04);
      border-radius: 15px;
    }
    & .table-row {
      & .table-cell {
        border-right: 1px solid #E8E8E8;
        &.table-heading {
          font-weight: 700;
          border-bottom: 1px solid #E8E8E8;
        }
      }
    }
  }
}
#diagramDetailsLegend li {
  cursor: pointer;
  border: 1px solid transparent;
}
#diagramDetailsLegend li:nth-child(1) {
  border-color: #E8E8E8;
  border-left: none;
}
#diagramDetailsLegend li:nth-child(2) {
  border-left: none;
  border-right: none;
  border-color: #E8E8E8;
}
#diagramDetailsLegend li:nth-child(3) {
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-color: #E8E8E8;
}
#diagramDetailsLegend li:nth-child(4) {
  border: none;
}
#diagramDetailsLegend li span {
   color: #121111;
   font-size: 15px;
}
#diagramDetailsLegend li span span {
  font-weight: 700;
}
#diagramDetailsLegend li span.color {
  border-radius: 100%;
}

#diagramDetailsLegend{
   height: 140px;
}
// Large screens
@media (max-width: 992px) {
  .graph-additional .table-heading {
    font-size: 13px;
  }
  & .faq-tabs {
    & .table {
      box-shadow: none;
      border-radius: 0 0 15px 15px;
      border-left: none;
      border-right: none;
      border-bottom: none;
    }
  }
}
// Medium screens
@media (max-width: 767px) {
  .section-heading {
    font-size: 24px;
    text-align: center;
  }
  .header {
    &.scroll-header {
      & .menu-link {
        color: $blueColor;
      }
    }
  }
  .navbar {
    transition: all .3s ease-in-out;
    &.active {
      background-color: $lightBlueColor;
    }
  }
  .menu {
    &-link {
      color: $blueColor;
      font-size: 30px;
    }
  }
  .banner {
    &-text {
      text-align: center; 
      & h3 {
        font-size: 24px;
      }
    }
  }
  .accordion__button {
    font-size: 20px;
  }
  .faq-image {
    border-radius: 0;
  }
  .footer-unis:before {
    content: '';
    background: #e6e6e6;
    position: absolute;
    top: 0;
    left: -15px;
    width: calc(100% + 30px);
    height: 1px;
  }
}

// Small screens
@media (max-width: 576px) {
  .faq-tabs .table-heading {
    font-size: 15px;
  }
}

// STYLES FOR SWIPER SLIDER PLUGIN
/**
 * Swiper 5.3.6
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://swiperjs.com
 *
 * Copyright 2014-2020 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: February 29, 2020
 */


 .swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-pagination {
  // position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  position: static;
  margin: 0;
  display: none;
}
@media (max-width: 992px) {
  .swiper-pagination {
    display: block;
  }
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #0F6E94;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}
// CHART CSS
@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}