@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-SemiboldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-Thin.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gellix";
  font-display: swap;
  src: url("../fonts/Gellix-ThinItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
// VARIABLES
$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;
$defaultTextColor: #121111;
$lightBlueColor: #E1F6FF;
$blueColor: #0F6E94;
$lightOrangeColor: #FEF3E9;
$orangeColor: #FF7F31;
$greenColor: #26C579;
$redColor: #C9222F;
$purpleColor: #AB66EB;
$grayColor: #999999;
$whiteColor: #ffffff;

// MIXINS
@mixin defaultIcon($size) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: $size;
}
@mixin fontSize($minSize, $maxSize) {
  font-size: $maxSize + 0px;
  font-size: -webkit-calc(#{$minSize + 0px} + (#{$maxSize} - #{$minSize}) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(#{$minSize + 0px} + (#{$maxSize} - #{$minSize}) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(#{$minSize + 0px} + (#{$maxSize} - #{$minSize}) * ((100vw - 300px) / (1900 - 300)));
}
// RESET
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre, 
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Gellix', sans-serif;
  color: $defaultTextColor;
  font-weight: 400;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  position: relative;
  background: #ffffff;
  color: $defaultTextColor;
  font-family: 'Gellix', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
.btn-primary {
  color: $whiteColor;
  background: $orangeColor;
  border: 2px solid $orangeColor;
  border-radius: 16px;
  padding: 17px 50px;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  &:hover {
    background: $lightOrangeColor;
    border-color: $lightOrangeColor;
    color: $orangeColor;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 201;
  height: 90px;
  transition: all .3s ease-in-out;
  & .container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid rgba(255,255,255,.2);
  }
  & .row {
    align-items: center;
  }
  &-logo {
    display: flex;
    width: 40px;
    margin: 0 270px 0 0;
    & img {
      @include defaultIcon(contain);
    }
    & .blue-logo {
      display: none;
    }
  }
  &.scroll-header {
    background: #ffffff;
    & .menu-link {
      color: $defaultTextColor;
    }
    & .blue-logo {
      display: flex;
    }
    & .white-logo {
      display: none;
    }
  }
}

.navbar {
  
}
.menu {
  display: flex;
  list-style: none;
  &-item {
    margin: 0 15px;
  }
  &-link {
    color: $whiteColor;
    text-decoration: none;
    position: relative;
    &:after {
      content: '';
      background: currentColor;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0;
      height: 2px;
      transition: all .3s ease-in-out;
    }
    &:hover {
      &:after {
        opacity: 1;
        width: 100%;
      }
    }
  }
}


.main-screen {
  position: relative;
  width: 100%;
  height: 350px;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(10, 10, 10, 0.0001) 100%);
    z-index: -1;
  }
  @media (min-width: 1920px) {
    height: 450px;
  }
  @media (min-width: 2560px) {
    height: 500px;
  }
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    & img {
      @include defaultIcon(cover);
    }
  }
  & .container {
    height: 100%;
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    & h1 {
      color: $whiteColor;
      margin-bottom: 30px;
      font-weight: 700;
      @include fontSize(36,54);
      & span {
        color: $whiteColor;
        font-style: italic;
      }
    }
  }
}

.form-group {
  display: flex;
  height: 56px;
  width: 70%;
  margin: auto;
  & input {
    width: 70%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 21px;
    padding: 15px 25px;
    outline: none;
    &:focus {
      border-color: rgba(255, 127, 49, .6);
      box-shadow: 1px 1px 1px rgba(255, 127, 49, .6);
    }
  }
  & button {
    width: 205px;
    margin-left: 15px;
  }
}

.prices {
  padding: 56px 0;
  & .row {
    justify-content: space-between
  }
  &-image {
    display: flex;
    align-items: flex-end;
    height: 100%;
    & img {
      @include defaultIcon(contain);
      height: auto;
    }
  }
  &-row {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    &-title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 18px;
    }
    &-subtitle {
      margin-bottom: 14px;
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    &__item {
      display: flex;
      align-items: center;
      width: 30%;
      margin-bottom: 10px;
    }
  }
  &-item {
    &__icon {
      border-radius: 14px;
      background: $lightBlueColor;
      width: 40px;
      height: 40px;
      min-width: 40px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__amount {
      font-weight: 700;
      margin-bottom: 2px;
    }
    &__type {
      white-space: nowrap;
    }
  }
}

.tabs { 
  &-list {
    list-style: none;
    display: flex;
    width: fit-content;
    flex-wrap: nowrap;
    background: #E1F6FF;
    border-radius: 12px;
    padding: 4px 5px;
    margin-bottom: 20px;
    &__item { 
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      &_link {
        border-radius: 10px;
        padding: 5px 20px;
        display: block;
        transition: all .3s ease-in-out;
        font-weight: 600;
        color: rgba(15, 110, 148, .5);
        cursor: pointer;
        &:hover, &.active {
          background: #0F6E94;
          color: $whiteColor;
        }
      }
    }
  }

  &-wrap {
    .tab-content {
      display: none;
      animation: fadeEffect .5s;
      -webkit-animation: fadeEffect .5s;
      &.is-show {
        display: block;
      }
      &.active {
        display: block;
      }
    }
  }
}



@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}