@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dk6usu');
  src:  url('../fonts/icomoon.eot?dk6usu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dk6usu') format('truetype'),
    url('../fonts/icomoon.woff?dk6usu') format('woff'),
    url('../fonts/icomoon.svg?dk6usu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-arrow:before {
  content: "\e900";
}
.icon-icon-square-meters:before {
  content: "\e901";
}
.icon-icon-rooms:before {
  content: "\e902";
}
.icon-arrow-green:before {
  content: "\e903";
  color: #26c579;
}
.icon-arrow-red:before {
  content: "\e904";
  color: #c9222f;
}
.icon-icon-marker:before {
  content: "\e905";
  color: #999;
}
.icon-icon-studio:before {
  content: "\e906";
  color: #0f6e94;
}
.icon-icon-2-pieces:before {
  content: "\e907";
  color: #0f6e94;
}
.icon-icon-store:before {
  content: "\e908";
}
.icon-icon-school:before {
  content: "\e909";
}
.icon-icon-bed-rooms:before {
  content: "\e90a";
}
.icon-icon-3-pieces:before {
  content: "\e90b";
  color: #0f6e94;
}
.icon-icon-bus-station:before {
  content: "\e90c";
}
.icon-icon-station:before {
  content: "\e90d";
}
.icon-icon-4-pieces:before {
  content: "\e90e";
  color: #0f6e94;
}
.icon-icon-5-pieces:before {
  content: "\e90f";
  color: #0f6e94;
}
.icon-icon-office:before {
  content: "\e910";
  color: #0f6e94;
}
.icon-icon-house:before {
  content: "\e911";
  color: #0f6e94;
}
.icon-icon-apartment:before {
  content: "\e912";
  color: #0f6e94;
}
.icon-icon-4-pieces1:before {
  content: "\e913";
  color: #0f6e94;
}



@mixin defaultIcon($size) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: $size;
}

// BOOTSTRAP GRID

$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;

@mixin grid-size($size) {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 $size;
  -ms-flex: 0 0 $size;
  flex: 0 0 $size;
  max-width: $size;
  padding: 0 15px;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.m-row {
  margin: 0;
  width: unset;
}

@for $i from 1 through 12 {
  .col-xs-#{$i} {
    @include grid-size(8.333333% * $i);
  }
}

@media (min-width: ($breakpoint-grid-sm)) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      @include grid-size(8.333333% * $i);
    }
  }
}

@media (min-width: ($breakpoint-grid-md)) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      @include grid-size(8.333333% * $i);
    }
  }
}

@media (min-width: ($breakpoint-grid-lg)) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      @include grid-size(8.333333% * $i);
    }
  }
}

@media (min-width: ($breakpoint-grid-xl)) {
  @for $i from 1 through 12 {
    .col-xl-#{$i} {
      @include grid-size(8.333333% * $i);
    }
  }
}
// END BOOTSTRAP GRID
